/* Reset */
*{
    margin: 0;
    padding: 0;
    background-color: rgb(11, 124, 109);
}

/* Header */
.header {
    color: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 1px #fff solid;
}

/* Photos */
.gallery {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.gallery__photo {
    width: 290px;
    height: 290px;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .gallery {
        height: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .gallery__photo {
        width: 150px;
        height: 150px;
    }
}